<h2>¿Qué es un Coderetreat?</h2>

<p>Un <a href="http://coderetreat.com/" target="_blank">Coderetreat</a> es un evento de un día, centrado en la práctica intensiva de los fundamentos del desarrollo y diseño de software. Ofreciendo la oportunidad a los desarrolladores de concentrarse en la práctica, lejos de las presiones del <em>"getting things done"</em>, el coderetreat ha demostrado ser una manera altamente efectiva de mejora de tus habilidades.</p>

<p>Practicando los principios básicos del diseño modular y orientado a objetos, los desarrolladores pueden mejorar sus habilidades de escritura de código así como minimizar el coste de cambiar ese código a lo largo del tiempo.</p>