{% extends "layout.html" %}

{% block content %}

<div class="left">
  <div class="katayunos">
    <h1>Katayunos</h1>
  </div>
  <div style="clear: right;"></div>
</div>

<div class="right">
  <div class="merendojos">
    <h1>Merendojos</h1>
  </div>
  <div style="clear: left;"></div>
</div>

<div class="clear"></div>

<div class="next">
  <p>An error occured:</p>
  <pre>{{e.getMessage}}</pre>
</div>

{% endblock %}

