<h2>Facilitadores</h2>
<a name="sponsors"></a>
<ul class="sponsors">
  <li><a href="http://www.bidasoa-activa.com/" target="_blank"><img src="/images/sponsors/bidasoa-activa.png" /></a></li>
  <li><a href="https://github.com/Programania/UniPage" target="_blank"><img src="/images/sponsors/silex-unipage-150.png" /></a></li>
</ul>

<div class="clear"></div>

<h2>Más cosas</h2>
<a name="resources"></a>
<div class="resources google-calendar">
  <h2>Google Calendar</h2>
  <a href="http://www.google.com/calendar/embed?src=programania.es_vreq044sh99c77uh2b7fh64n0g%40group.calendar.google.com&ctz=Europe/Madrid" target="_blank">Katayunos & Merendojos</a>
</div>
<div class="resources twitter">
  <h2>Twitter</h2>
  <a href="http://twitter.com/programania/katayuners" target="_blank">Katayuners & Merendojers</a>
  <a href="http://twitter.com/search/katayunos" target="_blank">#katayunos</a>
  <a href="http://twitter.com/search/merendojos" target="_blank">#merendojos</a>
</div>
<div class="resources flickr">
  <h2>Flickr</h2>
  <a href="http://www.flickr.com/photos/joserra/sets/72157626021532617/" target="_blank">Galería de @joserra_biko</a>
  <a href="http://www.flickr.com/photos/ggalmazor/sets/72157626032025541/" target="_blank">Galería de @ggalmazor</a>
</div>

<div class="clear"></div>