<h2>Facilitadores</h2>
<a name="sponsors"></a>
<ul class="sponsors">
  <li><a href="http://www.arteleku.net/" target="_blank"><img src="/images/sponsors/arteleku.png" /></a></li>
  <li><a href="http://www.bidasoa-activa.com/" target="_blank"><img src="/images/sponsors/bidasoa-activa.png" /></a></li>
</ul>

<div class="clear"></div>

