<h2>Facilitadores</h2>
<ul class="sponsors">
  <li><a href="http://www.bidasoa-activa.com/" target="_blank"><img src="/images/sponsors/bidasoa-activa.png" /></a></li>
  <li><a href="http://www.arteleku.net/" target="_blank"><img src="/images/sponsors/arteleku.png" /></a></li>
  <li><a href="http://www.plainconcepts.com/" target="_blank"><img src="/images/sponsors/plain_concepts.jpg" /></a></li>
  <li><a href="http://www.cocoworking.com/" target="_blank"><img src="/images/sponsors/coco_working.png" /></a></li>
  <li><a href="http://www.euskadinnova.net/es/enpresa-digitala/index.aspx" target="_blank"><img src="/images/sponsors/enpresa_digitala.jpg" /></a></li>
</ul>

<div class="clear"></div>

