<div class="left">
  <div class="katayunos">
    <h1 class="left">Katayunos</h1>
  </div>
</div>

<div class="right">
  <div class="merendojos">
    <h1 class="right">Merendojos</h1>
  </div>
</div>

