{% extends "layout.twig" %}

{% block content %}

<div class="grid_6">
  <h1 class="header katayunos">Katayunos</h1>
</div>

<div class="grid_6">
  <h1 class="header merendojos">Merendojos</h1>
</div>

<div class="clear"></div>

<div class="grid_12 next-katayuno">
  {% include 'next.twig' %}
</div>

<div class="clear"></div>

<div class="grid_6 about katayunos">
  {% include 'katayunos.twig' %}
</div>

<div class="grid_6 about merendojos">
  {% include 'merendojos.twig' %}
</div>

<div class="clear"></div>

<div class="grid_12 footer">
  {% include 'footer.twig' %}
</div>

{% endblock %}