<h2>¿Qué es un Katayuno?</h2>

<p>El desayuno es la comida más importante del día. Muchas veces, por las prisas, no le dedicamos toda la atención que deberíamos.</p>

<p>Las <a href="http://codingdojo.org/cgi-bin/wiki.pl?KataCatalogue" target="_blank">Coding Katas</a> son pequeños problemas de dominio conocido, pensadas para practicar los elementos más básicos de la programación y para practicar TDD.</p>

<p>Los <strong>Katayunos</strong> son la combinación de ambos. Consisten en sentarse por parejas delante de un portátil, elegir una kata, un lenguaje de programación y desayunar tranquilamente y sin las prisas del trabajo mientras se practica TDD y se reflexiona sobre la mejor estrategia para resolverla.</p>

<h2>Dinámica:</h2>

<ul>
  <li>De 9.30 a 10.00 desayuno</li>
  <li>De 10.00 a 10.45 primera iteración</li>
  <li>De 10.45 a 11.30 segunda iteración</li>
  <li>De 11.30 a 12.00 almuerzo</li>
  <li>De 12.00 a 12.45 tercera iteración</li>
<li>De 12.45 a 13.30 cuarta iteración</li>
</ul>

En cada iteración se realizará un cambio de pareja.