<h1>Katayunos</h1>

<p>El desayuno es la comida más importante del día. Muchas veces, por las prisas, no le dedicamos toda la atención que deberíamos.</p>

<p>Las <a href="http://codingdojo.org/cgi-bin/wiki.pl?KataCatalogue" target="_blank">Code Katas</a> son pequeños problemas de dominio conocido, pensadas para practicar los elementos más básicos de la programación y para practicar TDD.</p>

<p>Los <strong>Katayunos</strong> son la combinación de ambos. Consisten en sentarse por parejas delante de un portátil, elegir una kata, un lenguaje de programación y desayunar tranquilamente y sin las prisas del trabajo mientras se practica TDD y se reflexiona sobre la mejor estrategia para resolverla.</p>
