<!doctype html>
  <head>
    <meta charset="utf-8">
    <link type="text/plain" rel="author" href="/humans.txt" />
    <title>Katayunos - MerenDojos</title>
    <meta name="description" content="Katayunos y Merendojos, reuniones periódicas de programadores ágiles para practicar la programación en pareja.">
    <meta name="author" content="Programania">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/grid.css">
    <link rel="stylesheet" type="text/css" href="css/buttonize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="container container_12">
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript">
      /*var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22029819-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();*/
    </script>
  </body>
</html>