<h2>¿Qué es un Merendojo?</h2>

<p>La merienda es el momento para relajarse durante la tarde, después de un duro día de trabajo.</p>

<p>Los <a href="http://codingdojo.org/cgi-bin/wiki.pl?WhatIsCodingDojo" target="_blank">coding dojos</a> son reuniones donde un grupo de programadores trabajan conjuntamente para resolver un reto de programación. La idea es pasarlo bien y mejorar sus habilidades.</p>

<p>Los <strong>Merendojos</strong> son primos hermanos de los Katayunos y los complementan. El formato <em>freestyle</em> del katayuno funciona bien para practicar las katas, pero no deja mucho espacio para discutir y deliberar sobre las distintas aproximaciones posibles.</p>

<h2>Dinámica:</h2>

<p>La idea es seguir el formato <a href="http://codingdojo.org/cgi-bin/wiki.pl?RandoriKata" target="_blank">randori</a> donde mientras una pareja desarrolla el resto miran y discuten la solución que se está implementando.</p>