<div class="calendar">
    <span class="month">Junio</span>
    <span class="day">30</span>
</div>

<div class="info">
    <h2>Katayuno final de temporada en Donosti</h2>

    <p>Os convocamos al último Katayuno especial de fin de temporada, en el que realizaremos un Code-Retreat por la mañana y un taller especial por la tarde.</p>

    <p>El Code-Retreat es muy parecido a un Katayuno normal, con la particularidad de que realizaremos por parejas la kata del Juego de la Vida. A medida que vayamos avanzando, iremos aplicando nuevas reglas que nos obligarán a estrujarnos los sesos cada vez más. La clave de este tipo de ejercicios es dedicarle tiempo a reflexionar sobre las distintas técnicas y estrategias de programación.</p>

    <p>Por la tarde os estamos preparando un taller técnico que desvelaremos a su debido tiempo.</p>

    <p>¡Apúntate ya!</p>
</div>

<div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="#" class="button highlight big bold">Donosti - Próximamente</a>
</div>