<div class="calendar">
    <span class="month">Marzo</span>
    <span class="day">17</span>
</div>

<div class="info">
    <h2>Katayuno y Grupo de estudio en Vitoria</h2>

    <p>¡Vuelve la magia de los Katayunos! Esta vez será en Vitoria, concretamente en el edificio de Araba Enpresa situado en el Parque Tecnológico de Alava.</p>

    <p>El katayuno, como es habitual, estará centrado en la práctica por parejas de una Kata de Código, la <a href="http://codingdojo.org/cgi-bin/wiki.pl?KataPotter" class="bold">KataPotter</a>. En esta ocasión, por la tarde, Grupo de Estudio con el <i>topic</i> orientación a objetos.</p>

    <p>¡Apúntate ya!</p>
</div>

<div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="http://www.eventbis.com/katayuno-marzo-vitoria" class="button highlight big bold">Vitoria</a>
</div>


<div class="clear"></div>
