<div class="calendar">
  <span class="month">Diciembre</span>
  <span class="day">3</span>
</div>

<div class="info">
  <h2>Coderetreat en Bilbo y Pamplona</h2>

  <p>Aprovechando que es el <a href="http://blog.coderetreat.com/global-day-of-coderetreat" target="_blank">día mundial del Coderetreat</a>, queremos desviar la atención de los Katayunos en esta ocasión para animaros a que os suméis a una multitud de agilistas en la ola de Coderetreats que dará la vuelta al mundo empezando en Australia y terminando en Hawaii.</p>

  <p>Nosotros no nos lo vamos a perder :)</p>
</div>

<div class="locations">
  <h2>Ubicación y tickets</h2>
  <a href="http://www.eventbis.com/code-retreat-bilbao" class="button highlight big bold">Bilbo</a>
  <a href="http://www.eventbis.com/code-retreat-pamplona" class="button highlight big bold">Pamplona</a>
</div>


<div class="clear"></div>
