<div class="calendar">
  <span class="month">Octubre</span>
  <span class="day">29</span>
</div>

<div class="info">
  <h2>Katayuno en Vitoria</h2>
  <p>Tras el éxito de la primera edición de esta temporada, con 34 asistentes en todo el País Vasco, vamos a por la segunda en Vitoria, donde podremos juntarnos todos a hacer katas como bellacos.</p>
  {# <p>La Kata que realizaremos es la <a href="https://github.com/12meses12katas/Enero-String-Calculator" target="_blank">String calculator</a></p> #}
  <p>El Katayuno se realizará en <a href="http://www.euskadinnova.net/es/enpresa-digitala/index.aspx" target="_blank">Araba Enpresa Digitala</a> y podéis apuntaros dándole al botón de aquí abajo:</p>
</div>

<div class="locations">
  <h2>Ubicación y tickets</h2>
  <a href="http://www.eventbis.com/katayunovitoria" class="button highlight big bold">Apúntate aquí</a>
</div>

<div class="clear"></div>