<div class="calendar">
  <span class="month">Mayo</span>
  <span class="day">28</span>
</div>

<div class="info">
  <h2>Próximo Katayuno + Merendojo</h2>
  <p>El próximo 28 de mayo celebraremos un Katayuno con Merendojo de nuevo en el Edificio de la Capitanía de Marina de Hondarribi gracias a la colaboración de <a href="#sponsors">Bidasoa Activa</a>.</p>
  <p>Nuestra propuesta para la jornada es la Kata de mayo de <a href="http://www.12meses12katas.com/" target="_blank">12meses12katas</a>: <a href="https://github.com/12meses12katas/Mayo-KataLonja" target="_blank">KataLonja</a> (os recomendamos que os la miréis un poco antes de venir).</p>
  <p>Por la tarde, en el Merendojo <a href="http://twitter.com/joserra_biko" target="_blank">@joserra_biko</a> nos preparará un taller de Historias de Usuario. Se trata de una ocasión única para profundizar en el agilismo de la mano de todo un experto.</p>
  <p>Puedes ir apuntándote en el <a href="http://programania.stagehq.com/" target="_blank"/>evento en StageHQ</a>.</p>
</div>


<div class="map">
  <iframe width="400" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;t=h&amp;msa=0&amp;msid=201856624317935813285.00049e6430f6580b5e106&amp;ll=50.903033,-0.966797&amp;spn=11.09411,35.068359&amp;z=16&amp;iwloc=00049e6435bc285202cce&amp;output=embed"></iframe><br />
  <small>Ver <a target="_blank" href="http://maps.google.es/maps/ms?ie=UTF8&hl=es&t=h&msa=0&msid=201856624317935813285.00049e6430f6580b5e106&source=embed&ll=43.375982,-1.794806&spn=0.010746,0.022724&z=16&iwloc=00049e6435bc285202cce">el mapa</a> más grande</small>
</div>

{#
<div class="map">
  <img src="/images/map.jpg" alt="Aún no hemos confirmado el lugar, vuelve en un par de días." />
</div>
#}

<div class="clear"></div>
