<div class="calendar">
  <span class="month">Septiembre</span>
  <span class="day">24</span>
</div>

<div class="info">
  <h2>Katayuno introductorio: Apadrina un Katayuner</h2>
  <p>Ven a desayunar con nosotros el sábado 24 e introdúcete en el mundo de <a href="http://es.wikipedia.org/wiki/TDD" target="_blank"><acronym title="Test Driven Development">TDD</acronym></a> mediante las Coding Katas. El Test Driven Development es una técnica mediante la que escribes una prueba de tu código ANTES que el propio código. Las Coding Katas son pequeños problemas de dominio conocido, pensadas para practicar y mejorar programando.</p>
  <p>Si has oido hablar de los Katayunos, del TDD o del movimiento agile en general, ésta es tu oportunidad: empezaremos desde cero!</p>
  <p>La Kata que realizaremos es la <a href="https://github.com/12meses12katas/Enero-String-Calculator" target="_blank">String calculator</a></p>

  <div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="http://eventbis.com/katayunos" class="disabled button big bold">Bilbo</a>
    <a href="https://programania.stagehq.com/events/1004" class="button big bold">Donostia</a>
    <a href="http://eventbis.com/katayunos" class="disabled button big bold">Pamplona</a>
    <a href="http://eventbis.com/katayunos" class="disabled button big bold">Vitoria</a>
  </div>
</div>




<div class="clear"></div>