<div class="calendar">
    <span class="month">Junio</span>
    <span class="day">30</span>
</div>

<div class="info">
    <h2>Katayuno + Hackaton Karmacracy</h2>

    <p>Os hemos preparado algo especial para el final de la temporada 2011-2012. Por la mañana, durante el Katayuno, realizaremos una kata creada por nosotros que orientará la práctica del TDD hacia el consumo de APIs o servicios externos. Por lo tanto, será un Katayuno en el que los protagonistas serán la estrategia de testeo <a href="http://en.wikipedia.org/wiki/Top-down_and_bottom-up_design#Software_development" target="_blank">Top-Down</a> y los <a href="http://en.wikipedia.org/wiki/Test_double" target="_blank">dobles de testeo</a>. Publicaremos la descripción de la kata próximamente...</p>

    <p>Por la tarde, durante el Merendojo, podremos poner a prueba lo aprendido en el Katayuno durante la primera edición de mini-Hackaton <a href="http://karmacracy.com" target="_blank">Karmacracy</a>, el acortador de urls social. Se trata de un pequeño concurso en el que los asistentes programarán una aplicación que consuma el API de Karmacracy. Habrá premios para los ganadores y nos lo pasaremos genial :). Para participar <strong>necesitarás una clave de su API</strong>, así que no olvides pasar por la web de Karmacracy para conocer los detalles y las instrucciones para participar.</p>

    <p>¡Apúntate ya!</p>
</div>

<div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="http://www.eventbis.com/katayuno-junio-donosti" class="button highlight big bold">Donosti</a>
</div>