<div class="calendar">
    <span class="month">Mayo</span>
    <span class="day">5</span>
</div>

<div class="info">
    <h2>Katayuno en Bilbao</h2>

    <p>Convocamos un nuevo Katayuno, en esta ocasión en Bilbao y Pamplona.</p>

    <p>El katayuno, como es habitual, estará centrado en la práctica por parejas de una Kata de Código, aunque esta ocasión modificaremos un poco las normas haciendo <a href="http://cumulative-hypotheses.org/2011/08/30/tdd-as-if-you-meant-it/" class="bold">TDD as if you meant it</a>.</p>

    <p>¡Apúntate ya!</p>
</div>

<div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="http://www.eventbis.com/katayuno-bilbao-5-de-mayo" class="button highlight big bold">Bilbao</a>
    <a href="http://www.eventbis.com/katayuno-pamplona-5-mayo" class="button highlight big bold">Pamplona próximamente</a>
</div>