<div class="calendar">
    <span class="month">Enero</span>
    <span class="day">28</span>
</div>

<div class="info">
    <h2>Katayuno y Merendojo en Donosti</h2>

    <p>¡Vuelven los Katayunos tras la navidad! Ésta vez será en San Sebastián, concretamente en el Colegio de Ingenieros
        de Gipuzkoa que nos cede una de sus salas.</p>

    <p>El katayuno, como es habitual, estará centrado en la práctica por parejas de una Kata de Código. En ésta ocasión,
        además, practicaremos una Kata de Refactoring, centrada como su propio nombre indica en las prácticas de
        refactorización de código.</p>

    <p>¡Apúntate ya!</p>
</div>

<div class="locations">
    <h2>Ubicación y tickets</h2>
    <a href="http://www.eventbis.com/katayuno-enero-donostia" class="button highlight big bold">Donostia</a>
</div>


<div class="clear"></div>
