/*http://colorschemedesigner.com/#5v21Tw0w0w0w0*/

@font-face {
  font-family: Lobster;
  src: url('/css/lobster.otf');
}

body {
  background-color: antiquewhite;
  font-family: Courier;
  font-size: 16px;
  color: #000;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-style: inherit;
  text-decoration: inherit;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
  line-height: 22px;
}

h1, h2 {
  font-family: Lobster;
  margin-bottom: 10px;
}

/* Header */

h1.header {
  font-size: 75px;
}

h1.header.katayunos {
  color: #000;
  text-shadow: #9A001E 2px 2px 2px;
}

h1.header.merendojos {
  color: #000;
  text-shadow: #2E8F00 2px 2px 2px;
}

strong {
  font-weight: bold;
}

/* Next Katayuno */

.next-katayuno {
  background: transparent url('/images/carbon_fiber.jpg') center center no-repeat;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #ddd;
  margin: 20px 0;
  padding-bottom: 20px;
  box-shadow: 0 0 10px #000;
}

.next-katayuno h2 {
  font-size: 30px;
  color: #fff;
  text-shadow: #2E8F00 2px 2px 2px;
}

.next-katayuno .calendar {
  width: 235px;
  height: 250px;
  float: left;
  background: transparent url('/images/calendar.png') center center no-repeat;
  margin: 20px;
  padding:  1px 2px 3px 4px;
}

.next-katayuno .calendar .month {
  display: block;
  text-align: center;
  margin: 84px 10px 0px auto;
  color: #fff;
  font-size: 25px;
  font-family: Lobster;
}

.next-katayuno .calendar .day {
  display: block;
  text-align: center;
  padding-top: 0px;
  margin: 10px 10px 0px auto;
  color: #000;
  font-size: 100px;
  font-family: Lobster;
}

.next-katayuno .info a {
  border-bottom: 1px dashed #ddd;
}

.next-katayuno .info a:hover {
  border-bottom: 1px dashed #fff;
  color: #fff;
  text-shadow: #fff 0 0 4px;
}

.next-katayuno .info {
  float: left;
  width: 600px;
  margin: 50px 0 20px 0;
}

.next-katayuno .locations {
  margin-left: 275px;
}

.about {
  color: #333;
}

.about a {
  border-bottom:  1px dashed #333;
}

.about a:hover {
  border-bottom: 1px dashed #000;
  color: #000;
}

.about ul {
  margin-bottom: 10px;
}

.about li {
  list-style: circle;
  padding-left: 0;
  margin-left: 50px;
}

.katayunos h2 {
  color: #000;
  text-shadow: #9A001E 2px 2px 2px;
  font-size: 30px;
}

.katayunos a:hover {
  text-shadow: #9A001E 0 0 4px;
}

.merendojos h2 {
  color: #000;
  text-shadow: #2E8F00 2px 2px 2px;
  font-size: 30px;
}

.merendojos a:hover {
  text-shadow: #2E8F00 0 0 4px;
}

.footer {
  text-align: center;
  margin:  40px 0 350px 0;
}

.footer h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.footer li {
  display: block;
  list-style: none;
  margin: 30px;
}

.footer li img {
  max-height: 150px;
}

.centered {
  text-align: center;
}